{% extends "base.html" %}

{% block content %}
<div class="posts">
    <h4>Tag: {{ term.name }}</h4>
    {% if paginator is defined %}
        {% set pages = paginator.pages %}
    {% elif term is defined %}
        {% set pages = term.pages %}
    {% endif %}
    {% for page in pages %}
    <p><hr></p>
    <ul class="post-list">
        <li class="post on-list">
            <h6 class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h6>
            {% if page.summary %}<section class=entry-content>
                {{ page.summary | safe }}
            </section>{% endif %}
            <p class="post-meta">
                <span class="post-date">
                    {%- if page.date %}
                    {{ page.date | date(format="%B %d, %Y") }}
                    {% endif -%}
                </span>
                <span>
                    {%- if page.authors %} — {{ page.authors | join(sep=", ") }}{% endif -%}
                </span>
            </p>
            <a class="entry-link" href="{{ page.permalink }}"></a>
        </li>
        {% endfor %}
        
        {% if paginator is defined %}
        <footer class="page-footer">
            <nav>
                {% if paginator.previous %}
                    <a class="prev" href="{{ paginator.previous }}">← Previous</a>
                {% endif %}
                <!-- <span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span> -->
                {% if paginator.next %}
                    <a class="next" href="{{ paginator.next }}">Next →</a>
                {% endif %}
            </nav>
        </footer>
        {% endif %}
    </div>
</div>
{% endblock content %}