{% extends "base.html" %}

{% block content %}
<div class="header-bar">
  <h1>{{ config.title }}</h1>
  {% if config.description %}
  <h2>{{ config.description }}</h2>
  {% endif %}
  <br />
  <hr>
  <br />
</div>
<div class="posts">
  {% set is_first_page = true %}
  {% if paginator is defined %}
      {% set show_pages = paginator.pages %}
      {% set is_first_page = paginator.current_index == 1 %}
  {% elif section is defined %}
      {% set show_pages = section.pages %}
  {% endif %}
  <ul class="post-list">
    {%- for page in show_pages %}
    <li class="post on-list">
      <h4 class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h4>
      {%- if page.date %}
      <p class="post-meta">
        <span class="post-date">
          {%- if page.date %}
          {{ page.date | date(format="%B %d, %Y") }}
          {% endif -%}
        </span>
        <span>
          {%- if page.authors %} — {{ page.authors | join(sep=", ") }}{% endif -%}
        </span>
      </p>
      {% endif -%}
      <div class="post-content">
        {{ page.description | safe }}
      </div>
      <br>
      <hr>
    </li>
    {% endfor -%}
  </ul>
  <footer class="page-footer">
      <nav>
          {% if paginator.previous %}<a class="prev" href="{{ paginator.previous }}">← Previous</a>{% else %}<!--Hidden Previous-Button-->{% endif %}
          {% if paginator.next %}<a class="next" href="{{ paginator.next }}">Next →</a>{% else %}<!--Hidden Next-Button-->{% endif %}
      </nav>
  </footer>
</div>
{% endblock content %}