<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <!-- Slider -->
    <script src="{{ "/bower_components/ideal-image-slider/ideal-image-slider.min.js" | relative_url }}"></script>
    <script src="{{ "/bower_components/ideal-image-slider/extensions/bullet-nav/iis-bullet-nav.js" | relative_url }}"></script>
    <script src="{{ "/bower_components/ideal-image-slider/extensions/captions/iis-captions.js" | relative_url }}"></script>
    <!-- Sliders on pages -->
    {% for script in page.iis_slider_scripts %}
      {{ script }}
    {% endfor %}
    <!-- Sliders on indexes -->
    {% for post in paginator.posts %}
      {% for script in post.iis_slider_scripts %}
        {{ script }}
      {% endfor %}
    {% endfor %}
  </body>

</html>
